{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% if user.is_anonymous %}
            <h1>{% include "_brandname.html" %}</h1>
          {% else %}
            <h1>Call {{ MAIN_INCOMING_NUMBER }}</h1>
          {% endif %}
          <p>Social networking for people who don't like computers.</p>
          {% if user.is_anonymous %}
	          <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up!</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Sign up</h2>
      <p>Use <a href="{% url 'accounts:signup' %}">registration form</a> to sign up. </p>
      <p><a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up!</a></p>
    </div>
    <div class="col-md-4">
      <h2>Fill out your profile</h2>
      <p>Add your pyament information. </p>
    </div>
    <div class="col-md-4">
      <h2>Call</h2>
      <p>We use different phone numbers to lower your costs. Call the number based on your location:</p>
      <ul>
        {% for country, number in INCOMING_NUMBERS %}
          <li><span class="flag-icon flag-icon-{{ country }}"></span> {{ number }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

