{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>Making it easier to stay in touch</h1>
          <p>Social networking for people who don't like computers.</p>
          {% if user.is_anonymous %}
	          <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up!</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2>Sign up</h2>
      <p>Quick online <a href="{% url 'accounts:signup' %}">registration</a>.</p>
      <p>Start using the service immediately.</p>
    </div>
    <div class="col-md-4">
      <h2>Call</h2>
      <p>Call the number based on your location:</p>
      <ul>
        {% for country, number in INCOMING_NUMBERS %}
          <li><span class="flag-icon flag-icon-{{ country }}"></span> {{ number }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Features</h2>
      <ul>
        <li>Record messages for family and friends</li>
        <li>Listen to their messages</li>
        <li>Find new friends</li>
      </ul>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

